@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
  width:1100px;
  height: 600px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background: #fff;
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  overflow: hidden;
}
