@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.container {
  box-shadow: $box-shadow;
  height: inherit;
  .initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    h3 {
      font-size: $font-size-h3;
    }
  }
  .header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: $padding-2;
    padding-left: $padding-2;
    margin-bottom: $margin-bottom;
    img {
      width: 50px;
    }
    h3 {
      font-size: $font-size-h3;
    }
  }
  .dialog {
    width: 100%;
    height: calc(100% - 175px);
    border-top: 1px solid $text-grey-1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: $padding-2 30px;
    overflow-y: overlay;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $theme-color;
      border-radius: $border-radius;
    }
    .message {
      position: relative;
      width: max-content;
      max-width: 280px;
      box-shadow: $box-shadow;
      padding: $padding-2;
      border-radius: $border-radius-small;
      background: #fff;
      &::after {
        background: #fff;
        box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        left: -12px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
      &.sender {
        background: $theme-color;
        align-self: flex-end;
        &::after {
          left: auto;
          right: 0px;
          background: $theme-color;
          box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
        }
      }
    }
  }
  form {
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 10px;
    padding: 10px;
    input {
      @include input;
    }
    .emoji,
    button {
      @include button;
      width: 50px;
      border-radius: 50%;
      margin-top: 0px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .emoji {
      color: #f7c64a;
      background: #fff;
      font-size: $font-size-h1;
      position: relative;
      :global(.EmojiPickerReact) {
        position: absolute;
        top: -460px;
        left: 20px;
        :global(.epr-body) {
          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: $theme-color;
            border-radius: $border-radius;
          }
          :global(.epr-emoji-category) {
            :global(.epr-emoji-category-label) {
              font-size: $font-size-normal;
            }
          }
        }
        :global(.epr-preview) {
          height: 50px;
          img {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    display: none;
    &.show {
      display: block;
    }
    .initial {
      text-align: center;
    }
  }
}
