$theme-color: #44d7b6;
$black: #262626;

$box-shadow: 0px 0px 6px #B2B2B2;

$border-radius: 20px;
$border-radius-small: 10px;

$padding-1: 40px;
$padding-2: 15px;

$margin-bottom: 20px;

$font-size-h1: 40px;
$font-size-h2: 35px;
$font-size-h3: 25px;
$font-size-input: 20px;
$font-size-button: 25px;
$font-size-normal: 15px;

$text-grey-1: #b1b1b1;
